<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="StartupsettingsDashboardSection">
    <areas>
      <area>settings</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/SettingsDashboardIntro.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/SettingsDashboardVideos.ascx
      </control>
    </tab>
  </section>
  <section alias="StartupdeveloperDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/DeveloperDashboardIntro.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/DeveloperDashboardVideos.ascx
      </control>
    </tab>
  </section>
  <section alias="StartupmediaDashboardSection">
    <areas>
      <area>media</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/MediaDashboardIntro.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/DesktopMediaUploader.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/MediaDashboardVideos.ascx
      </control>
    </tab>
  </section>
  <section alias="startupDashboardSection">
    <access>
      <deny>translator</deny>
    </access>
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/StartupDashboardIntro.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/StartupDashboardKits.ascx
        <access><deny>editor</deny><deny>writer</deny></access></control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/StartupDashboardVideos.ascx
      </control>
    </tab>
    <tab caption="Last Edits">
      <control>/umbraco/dashboard/LatestEdits.ascx</control>
    </tab>
    <tab caption="Change Password">
      <control addPanel="true">/umbraco/dashboard/ChangePassword.ascx</control>
    </tab>
  </section>
  <section alias="StartupMemberDashboardSection">
    <areas>
      <area>member</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/MembersDashboardIntro.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/members/MemberSearch.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        /umbraco/dashboard/MembersDashboardVideos.ascx
      </control>
    </tab>
  </section>
  <section id="courier">
    <areas>
      <area>courier</area>
    </areas>
    <tab caption="Umbraco Courier">
      <control>/umbraco/plugins/courier/dashboard/CourierDashboard.ascx</control>
    </tab>
  </section>
  <section alias="uGoLiveDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="uGoLive Checklist">
      <control>/umbraco/plugins/uGoLive/Dashboard.ascx</control>
    </tab>
  </section>
  <section alias="MyDashboardSection">
    <areas>
      <area>default</area>
      <area>content</area>
    </areas>
    <tab caption="Contact Logs">
      <control>/usercontrols/dashboards/ContactForm_logs.ascx</control>
    </tab>
    <tab caption="Email a Friend Logs">
      <control>/usercontrols/dashboards/EmailAFriendForm_logs.ascx</control>
    </tab>
  </section>
</dashBoard>